{% block content %}

{% load staticfiles %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/icon.css' %}">
	
 
      <!--Import materialize.css-->

	<link rel="stylesheet" href="{% static 'css/bootstrap_color.min.css' %}">

<div style="margin-bottom: -40px;">
	<p class="text-center" ><br><h1 style="text-align: center; font-size: 40px; ">Restauración de la clave del usuario</h1></p>
	<center>
	<!--
		<img src={% static "imagenes\Recuperar_Clave\passwords_keys_6032.ico" %} /
	--> 
	<br><br><br><br><br>

<form method="post">
	{% csrf_token %}
	<label style="font-size: 25px;" class="form-group" placeholder="Email" for="id_email">Correo:</label> {{ form.email }} 
	<br>
	<br>
	<button style="text-align: center;" class="btn btn-info" type="submit" value="Enviar">Enviar</button>
	<br><br><br><br>
	<hr>
	<h4 style="background-color: transparent; opacity: 0.7; text-align: center;font-size: 17px;"><em>En momentos recibirás un correo electrónico con un link para el restablecimiento correcto y seguro de su clave de usuario. Recuerde que el link adjunto podrá usarle solo una vez.</em></h4>
</form>
</div>
{% endblock %}
