{% extends 'base/base.html' %}

{% block content %}
{% load staticfiles %}
{% load static %}
<h1 style="text-align: center">Gráfica Grupos Anual</h1>

<h4 style="text-align: center"><em>"Por tanto, id, y haced discípulos<br>a todas las naciones, bautizándolas<br>en el nombre del Padre,<br>y del Hijo, y del Espíritu Santo"</em></h4>
<h5 style="text-align: center"><em>         San Mateo 28:19</em></h5><br><br>


<form class="navbar-form navbar-left" role="search" method="POST" autocomplete="off">{% csrf_token %}
    <select onchange="location.href=this.options[this.selectedIndex].value" name="elegir" style="-webkit-border-radius: 8px; font-size: 16px; height: 34px; width: 268px; background-color: #ddd;">
        <option value="{% url 'grupos:graficaAnio'%}">Gráfica Año</option>
        <option value="{% url 'grupos:graficaMes'%}">Gráfica Mes</option>
        
    </select>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Nª Grupo" id="miBusqueda" name="value1" required>
        <input type="text" class="form-control" placeholder="Año" id="miBusqueda" name="value2" required>

        <select name="visita" style="-webkit-border-radius: 8px; font-size: 16px; height: 34px; width: 268px; background-color: #ddd;">
           <optgroup label="Datos Grupo Familiar"> 
               <option value="1">Hermanos</option> 
               <option value="2">Discípulos</option> 
               <option value="3">Amigos</option>
               <option value="4">Niños Cristianos</option> 
               <option value="5">Niños Amigos</option> 
               <option value="6">Conversiones</option>
               <option value="7">Conversiones Niños</option>
            </optgroup> 
           <optgroup label="Datos PDI"> 
               <option value="8">Telefónica</option> 
               <option value="9">Electrónica</option> 
               <option value="10">Personal</option> 
               <option value="11">Esc. de Capacitación</option> 
           </optgroup>
           
           <optgroup label="Datos Iglesia"> 
               <option value="12">Hermanos</option> 
               <option value="13">Discípulos</option> 
               <option value="14">Amigos</option>
               <option value="15">Niños</option>
               <option value="16">Conversiones</option> 
           </optgroup> 

           <optgroup label="Ofrenda"> 
            <option value="17">Ofrenda</option> 
           </optgroup> 
        </select>

    </div>
    <button type="submit" class="btn btn-default">Enviar</button>
</form>
<br><br>
<h3>{{info}}</h3>
<br>
<!--
<div class="alert alert-info alert-dismissable">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Importante</strong> Tenga en cuenta que este es el acumulado de todos los tipos de asistentes, hombres, mujeres, niños, etc.
</div>
-->
<br><br>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">
  Visualizar Gráfica de Pastel
</button>

<div id="demo" class="collapse">
<br><br>
<section id="content">
<div class="container">    
    <div class="row">
        <hr class="colorgraph">
        <div class="col‐sm‐40">
            <h3>Gráfica de Pastel</h3>
            <canvas id="chart-area3" width="600" height="300"></canvas>
        </div>
    </div>
</div>
</section>
</div>

 <br><br>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1">
 Visualizar Gráfica de Barras
</button>
<div id="demo1" class="collapse in">
<section id="content">
<div class="container">    
    <div class="row">
        <hr class="colorgraph">
        <div class="media">
            <div class="col‐sm‐40">
                <h3>Gráfica de Barras</h3>
                <canvas id="chart-area" width="600" height="300"></canvas>
            </div>
        </div>
        <br><br>
    </div>
</div>
</section>
</div>
  <br><br>
<form method="GET" >{% csrf_token %}
    <a href="{% url 'grupos:graficaAnio' %}" type="submit" class="btn btn-default">Reiniciar</a>
</form>
<br><br>
{% endblock %}



{% block PiePaginas %}
<script type="text/javascript">

    var dat = {{mes|safe}};
    var col = {{color|safe}};
    var preg = {{nombre|safe}};
    var i ={{i|safe}};
    var pieDate=[];
    var k=0;

    for (var j = 0; j < i ; j++) {
        pieDate[j]= {value:  dat[j] , color:col[j] , highlight: "#0c62ab" ,label: preg[j] };
    }


    var barChartData = {
        labels : preg,
        datasets : [
            {
                fillColor : "#6b9dfa",
                strokeColor : "#ffffff",
                highlightFill: "#1864f2",
                highlightStroke: "#ffffff",
                data : dat
            }
        ]
    }   
    var ctx = document.getElementById("chart-area3").getContext("2d");
    var ctx3 = document.getElementById("chart-area").getContext("2d");
    //Pastel
    window.myPie = new Chart(ctx).Pie(pieDate); 
    //Barras
    window.myPie = new Chart(ctx3).Bar(barChartData, {responsive:true});
    
    
</script>
{% endblock %}
