{% extends 'base/base.html' %}

{% block content %}
<h1 style="text-align: center">Listado reporte líder de grupo</h1>

<h4 style="text-align: center"><em>"Por tanto, id, y haced discípulos<br>a todas las naciones, bautizándolas<br>en el nombre del Padre,<br>y del Hijo, y del Espíritu Santo"</em></h4>
<h5 style="text-align: center"><em>         San Mateo 28:19</em></h5>

<br><br><br>


<form method="GET" action="{% url 'grupos:grupo_search' %}">
	<div class="form-group">
	<input type="text" class="classy" id="miBusqueda" name="q" value="{{request.GET.q}}" placeholder="Buscar..." style="width: 200px; height: 40px; border-radius: 5px;" required>
	<button class="btn btn-success" type="submit">
		Buscar
	</button>
	</div>
</form>


<script type="text/javascript">
    function abrir_modal(url)
	{
		
        $('#popup').load(url, function()
        {
            $(this).modal('show');
            jQuery('#popup').data('bs.modal').options.backdrop = 'static';
            jQuery('#popup').data('bs.modal').options.keyboard = 'booleano: true';
        });
        return false;
	}

	function cerrar_modal()
	{
        $('#popup').modal('hide');
        return false;
	}
</script>

<br>
<table class="table table-hover" style="text-align: center">
	<thead style="background:#c8cdce; font-weight: bold">
		<tr>
			<td style="border: 1px solid black">Fecha de visita</td>
			<td style="border: 1px solid black">Líder</td>
			<td style="border: 1px solid black">Supervisor</td>
			<td style="border: 1px solid black">Número de grupo</td>
			<td style="border: 1px solid black">Ofrenda</td>
			<td style="border: 1px solid black">Info</td>
			<td style="border: 1px solid black">Acciones</td>
		</tr>
	</thead>

	<tbody>	
			{% for grupos in items %}
			<tr>
				<td style="border: 1px solid black">{{ grupos.fecha_visita }}</td>
				<td style="border: 1px solid black">{{ grupos.lider }}</td>
				<td style="border: 1px solid black">{{ grupos.supervisor }}</td>
				<td style="border: 1px solid black">{{ grupos.nro_grupo }}</td>
				<td style="border: 1px solid black">{{ grupos.ofrenda_grupo }}</td>
				<td style="border: 1px solid black"><a class="btn btn-success btn-sm" href="{% url 'grupos:informacion_grupo' grupos.id %}">Ver Info</a></td>
				<td style="border: 1px solid black">
					<a class="btn btn-primary btn-sm" onclick="return abrir_modal('{% url 'grupos:grupos_editar' grupos.id %}')">Editar</a>
					<a class="btn btn-danger btn-sm" onclick="return abrir_modal('{% url 'grupos:grupos_eliminar' grupos.id %}')">Eliminar</a>
				</td>
			</tr>	
			{% endfor %}
	</tbody>
</table>

<div id="popup" class="modal fade" role="dialog">
</div>

<form method="GET" >{% csrf_token %}
	<a href="{% url 'grupos:grupos_listar' %}" type="submit" class="btn btn-primary">Recargar Página</a>
</form>
<br>

{% include 'paginacion/pagination.html' %}

<br><br>

{% endblock %}