{% extends 'base/base.html' %}
{% block navbar %}
{% endblock %}
{% block content %}

<div class="modal-dialog modal-md">
        <div class="modal-content">
                {% if object_list %}
                <form role="form" action="{% url 'grupos:grupos_eliminar' grupos.id %}" method="post">
                {% else %}
                <form role="form" action="{% url 'grupos:grupos_eliminar' grupos.id %}" method="post">
                {% endif %}
                        <div class="modal-header" style="text-align: right;">
                 <a class= "btn btn-danger btn-sm" href="{% url 'grupos:grupos_listar' %}">x</a>
            </div>

<h1 style="text-align: center">Eliminación de Registro</h1>
<form method="post">
	{% csrf_token %}

<h3 style="text-align: center;"><br>¿Desea eliminar el registro de grupos<br><br></h3>	

<div class="modal-footer">
	<div class="col-md-8 col-md-offset-2">
	<button class="btn btn-danger" style="margin-right: 40px" type="submit">Sí, eliminar</button>
	<a class= "btn btn-default" href="{% url 'grupos:grupos_listar' %}">Cancelar</a>
	</div>
</div>
</div>
</div>
</form>
{% endblock %}