{% extends 'base/base.html' %}

{% block title %}
Gestión de Miembros
{% endblock %}



{% block content %}
{% load staticfiles %}
{% load static %}
<p class="text-center" ><br><h1 style="text-align: center"><img src={% static "imagenes\logo2.png" %}>Sistema de Gestión Eclesiástico <em>(SGE)</em> <img src={% static "imagenes\logo120x120.png" %} /> </h1></p>

<br>
<p class="text-center" ><img src={% static "imagenes\Miembros\Add_2.png" %}/>
	<img src={% static "imagenes\Miembros\espacio.png" %}  />
	<img src={% static "imagenes\Miembros\listar_2.png" %}  /> </p>
<br>
<p class="text-center" >
	<a href="{% url 'usuario:usuario_crear' %}" class="btn btn-primary" role="button">Agregar Miembros</a>
	<img src={% static "imagenes\Miembros\espacio.png" %}  />

	<a href="{% url 'usuario:usuario_listar' %}" class="btn btn-primary" role="button">Listar Miembros</a>
</p>

<br><br>

{% endblock %}