{% extends 'base/base.html' %}

{% block title %}
Página Principal
{% endblock %}



{% block content %}
{% load staticfiles %}
{% load static %}

<div ><img  style="margin-left: 45%; align-content: center;"src={% static "imagenes\logo120x120.png" %} /></div>

<p class="text-center" >
	{% if user.is_superuser %}
	<img src={% static "imagenes\inicio\Miembros.png" %} />
	<img src={% static "imagenes\inicio\espacio1.png" %} />
	 {% endif %}
	<img src={% static "imagenes\inicio\Grupos.png" %}  /> </p>
<br>
<p class="text-center" >
	{% if user.is_superuser %}
	<a href="{% url 'usuario:Gestion_Miembros' %}" class="btn btn-primary active" role="button">Gestión de Miembros</a> 
	<img src={% static "imagenes\inicio\espacio1.png" %}  />
	 {% endif %}
	<a href="{% url 'usuario:Gestion_Grupos' %}" class="btn btn-primary active" role="button">Gestión de Grupos</a>
</p>
<br><br>

{% endblock %}

