{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'login/design.css' %}">
<script type="text/javascript" src="{ static 'login/design.js' }"></script>

<form method="post">
  {% csrf_token %}
<div class="login-page">
  <div class="form">
    <form class="login-form">
      <img src={% static "imagenes\Logo120x120.png" %} />

      <br>
      <br>
      
      <input type="text" name="username" placeholder="Username"/>
      <input type="password" name="password" placeholder="Password"/>
      <button type="submit" value="Ingresar">  Login   </button>
      <p class="message">Olvidó su contraseña? <a href="{% url 'password_reset' %}">Ingrese aquí</a></p>
      {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
      </div>
      {% endfor %}
    </form>
  </div>
</div>
</form>

{% endblock %}
